<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!-- [START standard_mappings] -->
    <servlet>
        <servlet-name>enterFood</servlet-name>
        <servlet-class>com.CreateAndSaveFood</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByDescription</servlet-name>
        <servlet-class>com.SearchByDescription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByPriceServlet</servlet-name>
        <servlet-class>com.SearchByPriceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteByKeyServlet</servlet-name>
        <servlet-class>com.deleteByKeyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>enterFood</servlet-name>
        <url-pattern>/enterFood</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>enterProduct</servlet-name>
        <servlet-class>com.CreateAndSaveHouseHoldProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>enterProduct</servlet-name>
        <url-pattern>/enterProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteAll</servlet-name>
        <servlet-class>com.deleteAll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteAll</servlet-name>
        <url-pattern>/deleteAll</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateAndSaveAppliance</servlet-name>
        <servlet-class>com.CreateAndSaveAppliance</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateAndSaveAppliance</servlet-name>
        <url-pattern>/CreateAndSaveAppliance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByDescription</servlet-name>
        <url-pattern>/SearchByDescription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByPriceServlet</servlet-name>
        <url-pattern>/SearchByPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteByKeyServlet</servlet-name>
        <url-pattern>/deleteByKeyServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>HomePage.jsp</welcome-file>
    </welcome-file-list>
    <!-- [END standard_mappings] -->
    <!-- [START Objectify] -->
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>com.OfyHelper</listener-class>
    </listener>
    <!-- [END Objectify] -->
</web-app>
